@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: rgb(203, 203, 203); 
}

form{
  background-color: rgb(255, 255, 255);
}

option{
  background-color: #fff;
}

/* create new flights form */
.create {
  font-family: "Quicksand";
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  margin: 200px auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.create label {
  background-color: rgb(255, 255, 255);
  text-align: left;
  display: block;
  color: #7d3cff;
}
.create h2 {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: #7d3cff;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  background-color: white;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background-color:#7d3cff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Selection page */
.options{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 3px 5px 1px #b1b1b1;
}

.create1 {
  font-family: "Quicksand";
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  margin: 200px auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.create1 label {
  background-color: rgb(255, 255, 255);
  text-align: left;
  display: block;
  color: #7d3cff;
  font-weight: bold;
}
.create1 h2 {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: #7d3cff;
  margin-bottom: 30px;
}

.create1 button {
  background-color:#7d3cff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.options div label{
  color: rgb(161, 99, 255);
  font-size: 25px;
  background-color: rgb(255, 255, 255);
}

.options h3{
  color: rgb(185, 139, 255);
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: left;
  
}

.options:hover {
  opacity: 5;
  animation-delay: 55ms;
  box-shadow: 1px 2px 7px 1px #7d3cff;
  transition: box-shadow 150ms;
}


/* Information page */

.create3 {
  font-family: "Quicksand";
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  margin: 200px auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.create3 label {
  background-color: rgb(255, 255, 255);
  text-align: left;
  display: block;
  color: #7d3cff;
  font-weight: bold;
  margin-bottom: 5px;
}
.create3 h2 {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: #7d3cff;
  margin-bottom: 30px;
}

.create3 button {
  text-align: center;
  background-color:#7d3cff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

input{
  margin-right: 90px;
  margin-bottom: 10px;
  width: 400px;
  border-radius: 3px;
  background-color: white;
  height: 30px;
  border: 1px solid #ccc;
}

.submit{
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.submit button{
  margin-right: 0px;
  margin-left: 0px;
}

.submit label{
  font-size: small;
  margin-top: 8px;
  
  padding: 0px;
  color: rgb(161, 99, 255);

}

